rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /{document=**} {
      allow read, write: if request.auth == null;
    }
    match /profiles/{profileId} {
      allow read, write: if request.auth != null;
    }
    match /messages/{messageId} {
      allow read, write: if request.auth != null;
    }
    match /conversations/{conversationId} {
      allow read, write: if request.auth != null;
    }
//    match /messages/{messageId} {
//    	allow create, update: if request.auth != null && request.resource.data.sender == request.auth.uid;
//      allow read, delete: if request.auth != null && (resource.data.sender == request.auth.uid || resource.data.recipient == request.auth.uid);
//    }
  }
}